In [14]:
import pandas as pd
import zipfile

# Specify the path to the zip file
zip_file = 'Data/DYDXUSDT.zip'

# Open the zip file
with zipfile.ZipFile(zip_file, 'r') as z:
    # Extract the Parquet file from the zip
    extracted_file = z.extract(z.namelist()[0])

    
# # Read the Parquet file into a DataFrame
df = pd.read_parquet(extracted_file)

# Now you can work with the DataFrame
df

,OPEN,HIGH,LOW,CLOSE,VOLUME,QUOTE_ASSET_VOLUME,NUMBER_OF_TRADES,TAKER_BUY_BASE_ASSET_VOLUME,TAKER_BUY_QUOTE_ASSET_VOLUME,YEAR_AND_MONTH
OPEN_TIME,,,,,,,,,,
1646092800000,5.878,5.933,5.878,5.928,34571.85,2.043161e+05,649,19834.21,117218.27371,202203
1646093100000,5.929,5.936,5.880,5.931,18315.43,1.081983e+05,391,8118.21,47995.14586,202203
1646093400000,5.937,5.956,5.920,5.922,37157.31,2.207562e+05,525,11384.90,67687.64835,202203
1646093700000,5.919,5.920,5.862,5.886,21679.71,1.276442e+05,411,7936.20,46776.37543,202203
1646094000000,5.886,5.900,5.875,5.900,12222.26,7.197682e+04,421,6305.63,37147.35468,202203
...,...,...,...,...,...,...,...,...,...,...
1648769700000,6.090,6.099,6.084,6.096,7775.38,4.734843e+04,198,4134.81,25177.45438,202203
1648770000000,6.095,6.111,6.035,6.049,24407.58,1.483023e+05,416,10753.47,65455.44616,202203
1648770300000,6.050,6.055,5.749,5.924,512515.90,3.021200e+06,9155,166386.74,976544.85288,202203
1648770600000,5.925,5.996,5.874,5.960,69864.33,4.152481e+05,1585,38737.39,230193.51289,202203
1648770900000,5.962,6.030,5.951,6.017,34334.12,2.055439e+05,812,23598.15,141221.11313,202203

In [15]:
# Specify the path to the zip file
zip_file = 'Data/LABEL_DYDXUSDT.zip'

# Open the zip file
with zipfile.ZipFile(zip_file, 'r') as z:
    # Extract the Parquet file from the zip
    extracted_file = z.extract(z.namelist()[0])

    
# # Read the Parquet file into a DataFrame
label = pd.read_parquet(extracted_file)

# Now you can work with the DataFrame
label

                SYMBOL     LABEL
OPEN_TIME
1.633752e+12  DYDXUSDT  0.383782
1.633756e+12  DYDXUSDT  0.392509
1.633759e+12  DYDXUSDT  0.376349
1.633763e+12  DYDXUSDT  0.413184
1.633766e+12  DYDXUSDT  0.406343
...                ...       ...
1.677611e+12  DYDXUSDT  0.457694
1.677614e+12  DYDXUSDT  0.535697
1.677618e+12  DYDXUSDT  0.529529
1.677622e+12  DYDXUSDT  0.561596
1.677625e+12  DYDXUSDT  0.551419

[12188 rows x 2 columns]